/*Front page styling */


html {
    box-sizing: border-box;
}

body {
    font-family: "Courier New", Geneva, Tahoma, sans-serif;
    margin-top: 20 px;
    padding: 0px;
    background-color: #be414f;
}

.container {


    width: 550px;
    border: 5px solid rgb(243, 136, 14);
    height: auto;
    margin: 0 auto;
    background-color: #e74d5f;
}

.header img {
    display: block;
    margin: 20px auto;
    width: 540px;
    height: 540px;
    border: 5px solid black;
}

.lists ul {
    width: 500px;
    height: auto;
    border: 5px solid black;
    background-color: #be414f;
    margin: 0px auto;
    padding: 20px;
}

.lists li {
    text-align: center;
    list-style: none;
    line-height: 70px;
}



.links-wrapper a {
    color: rgb(243, 136, 14);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-size: 25px;
    text-decoration: none;
    font-weight: bold;


}


.header h1 {
    color: rgb(243, 136, 14);
    ;
    border: 5px solid black;
    background-color: #be414f;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    padding: 20px;
    width: 500px;
    height: auto;
    margin: 0px auto;
    text-align: center;
}



/* three pages in one styling not sure if this is a good idea */

.rep-container {
    width: 1000px;
    border: 5px solid rgb(243, 136, 14);
    height: auto;
    margin: 0 auto;
    padding-right: 20px ;
    background-color: #e74d5f;
}

.pic-header {
    color: rgb(243, 136, 14);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    text-align: center;
    font-size: 50px;
    margin-bottom: 10px;
}


.list-header{
    font-size: 35px;
    margin-left: 40px;
} 

.images {
    display: block;
    margin: 0 auto;
    height: 740px;
    width: 1010px;
    border: 5px solid black;
}

.list-desc {
    font-size: 23px;
    margin-left: 40px;
}



.list-style {
    font-size: 19px;
    line-height: 35px;
    margin: -10px 0px 20px 60px;
    list-style: none;
}



 .bullet li::before {
    content: "\2022"; 
    color: rgb(243, 136, 14);
    font-weight: bold; 
    display: inline-block; 
    width: 20px;
}

.col-color{
    color: rgb(243, 136, 14);

}